################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.flat
*.cache
*.flata
*.props
.DS_Store
*/.DS_Store
/.vs
/.vscode/extensions.json
/.vscode/extensions.json
bin
obj
bin/Debug
bin/Debug/net10.0-ios/
bin/Debug/net10.0-ios/*
bin/Debug/net10.0-ios/iossimulator-arm64

bin/Debug/net10.0-android/*
bin/Debug/net10.0-android/com.companyname.MyNotes-Signed.apk
bin/Debug/net10.0-android/com.companyname.MyNotes-Signed.apk
bin/Debug/net10.0-android/com.companyname.MyNotes-Signed.apk.idsig
bin/Debug/net10.0-android/com.companyname.MyNotes-Signed.apk.idsig
bin/Debug/net10.0-android/com.companyname.MyNotes-Signed.apk
bin/Debug/net10.0-android/com.companyname.MyNotes-Signed.apk
bin/Debug/net10.0-android/com.companyname.MyNotes-Signed.apk
bin/Debug/net10.0-android/com.companyname.MyNotes-Signed.apk.idsig

bin/Debug/net10.0-maccatalyst/*
bin/Debug/net10.0-maccatalyst/maccatalyst-arm64

