################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vscode/extensions.json
/.vscode/extensions.json
/Notes/bin/Debug/net9.0-android
/Notes/bin/Debug/net9.0-ios/iossimulator-x64
/Notes/bin/Debug/net9.0-maccatalyst/maccatalyst-x64
/Notes/bin/Debug/net9.0-windows10.0.19041.0/win10-x64/Notes.dll
/Notes/bin/Debug/net9.0-windows10.0.19041.0/win10-x64/Notes.exe
/Notes/bin/Debug/net9.0-windows10.0.19041.0/win10-x64/Notes.pdb
/Notes/obj/.cache
/Notes/obj/Debug/net9.0-android/android
/Notes/obj/Debug/net9.0-android/android(1)/src
/obj
/Notes/obj/Debug/net9.0-android/android-arm64
/Notes/obj/Debug/net9.0-android/android-x64
/Notes/obj/Debug/net9.0-android/app_shared_libraries/x86_64
/Notes/obj/Debug/net9.0-android/assets
/Notes/obj/Debug/net9.0-android/diagnostics
*.flat
/Notes/obj/Debug/net9.0-android/lp/100/jl/flat/100.flata
/Notes/obj/Debug/net9.0-android/lp/100/jl/files.cache
/Notes/obj/Debug/net9.0-android/lp/103/jl/flat/103.flata
/Notes/obj/Debug/net9.0-android/lp/103/jl/files.cache
/Notes/obj/Debug/net9.0-android/lp/104/jl/flat/104.flata
/Notes/obj/Debug/net9.0-android/lp/104/jl/files.cache
/Notes/obj/Debug/net9.0-android/lp/105/jl/flat/105.flata
/Notes/obj/Debug/net9.0-android/lp/105/jl/files.cache
/Notes/obj/Debug/net9.0-android/lp/107/jl/flat/107.flata
/Notes/obj/Debug/net9.0-android/lp/107/jl/files.cache
/Notes/obj/Debug/net9.0-android/lp/108/jl/flat/108.flata
/Notes/obj/Debug/net9.0-android/lp/108/jl/files.cache
/Notes/obj/Debug/net9.0-android/lp/109/jl/flat/109.flata
/Notes/obj/Debug/net9.0-android/lp/109/jl/files.cache
/Notes/obj/Debug/net9.0-android/lp/110/jl/flat/110.flata
/Notes/obj/Debug/net9.0-android/lp/110/jl/files.cache
/Notes/obj/Debug/net9.0-android/lp/111/jl/flat/111.flata
/Notes/obj/Debug/net9.0-android/lp/111/jl/files.cache
/Notes/obj/Debug/net9.0-android/lp/112/jl/flat/112.flata
/Notes/obj/Debug/net9.0-android/lp/112/jl/files.cache
/Notes/obj/Debug/net9.0-android/lp/114/jl/flat/114.flata
/Notes/obj/Debug/net9.0-android/lp/114/jl/files.cache
/Notes/obj/Debug/net9.0-android/lp/116/jl/flat/116.flata
/Notes/obj/Debug/net9.0-android/lp/116/jl/files.cache
/Notes/obj/Debug/net9.0-android/lp/117/jl/flat/117.flata
/Notes/obj/Debug/net9.0-android/lp/117/jl/files.cache
/Notes/obj/Debug/net9.0-android/lp/118/jl/flat/118.flata
/Notes/obj/Debug/net9.0-android/lp/118/jl/files.cache
/Notes/obj/Debug/net9.0-android/lp/119/jl/flat/119.flata
/Notes/obj/Debug/net9.0-android/lp/119/jl/files.cache
/Notes/obj/Debug/net9.0-android/lp/120/jl/flat/120.flata
/Notes/obj/Debug/net9.0-android/lp/120/jl/files.cache
/Notes/obj/Debug/net9.0-android/lp/121/jl/flat/121.flata
/Notes/obj/Debug/net9.0-android/lp/121/jl/files.cache
/Notes/obj/Debug/net9.0-android/lp/122/jl/flat/122.flata
/Notes/obj/Debug/net9.0-android/lp/122/jl/files.cache
/Notes/obj/Debug/net9.0-android/lp/123/jl/flat/123.flata
/Notes/obj/Debug/net9.0-android/lp/123/jl/files.cache
/Notes/obj/Debug/net9.0-android/lp/124/jl/flat/124.flata
/Notes/obj/Debug/net9.0-android/lp/124/jl/files.cache
/Notes/obj/Debug/net9.0-android/lp/125/jl/flat/125.flata
/Notes/obj/Debug/net9.0-android/lp/125/jl/files.cache
/Notes/obj/Debug/net9.0-android/lp/126/jl/flat/126.flata
/Notes/obj/Debug/net9.0-android/lp/126/jl/files.cache
/Notes/obj/Debug/net9.0-android/lp/127/jl/flat/127.flata
/Notes/obj/Debug/net9.0-android/lp/127/jl/files.cache
/Notes/obj/Debug/net9.0-android/lp/129/jl/flat/129.flata
/Notes/obj/Debug/net9.0-android/lp/129/jl/files.cache
/Notes/obj/Debug/net9.0-android/lp/130/jl/flat/130.flata
/Notes/obj/Debug/net9.0-android/lp/130/jl/files.cache
/Notes/obj/Debug/net9.0-android/lp/131/jl/flat/131.flata
/Notes/obj/Debug/net9.0-android/lp/131/jl/files.cache
/Notes/obj/Debug/net9.0-android/lp/132/jl/flat/132.flata
/Notes/obj/Debug/net9.0-android/lp/132/jl/files.cache
/Notes/obj/Debug/net9.0-android/lp/133/jl/flat/133.flata
/Notes/obj/Debug/net9.0-android/lp/133/jl/files.cache
/Notes/obj/Debug/net9.0-android/lp/134/jl/flat/134.flata
/Notes/obj/Debug/net9.0-android/lp/134/jl/files.cache
/Notes/obj/Debug/net9.0-android/lp/135/jl
/Notes/obj/Debug/net9.0-android/lp/137/jl
/Notes/obj/Debug/net9.0-android/lp/138/jl
/Notes/obj/Debug/net9.0-android/lp/136/jl
/Notes/obj/Debug/net9.0-android/lp/139/jl
/Notes/obj/Debug/net9.0-android/lp/140/jl
/Notes/obj/Debug/net9.0-android/lp/141/jl
/Notes/obj/Debug/net9.0-android/lp/142/jl
/Notes/obj/Debug/net9.0-android/lp/144/jl
/Notes/obj/Debug/net9.0-android/res/values/colors.xml
/Notes/obj/Debug/net9.0-android/resizetizer
/Notes/obj/Debug/net9.0-android/stamp
/Notes/obj/Debug/net9.0-android/lp/145/jl
/Notes/obj/Debug/net9.0-android/lp/146/jl
/Notes/obj/Debug/net9.0-android/lp/147/jl
/Notes/obj/Debug/net9.0-android/lp/148/jl
/Notes/obj/Debug/net9.0-android/lp/149/jl
/Notes/obj/Debug/net9.0-android/lp/150/jl
/Notes/obj/Debug/net9.0-android/lp/151/jl
/Notes/obj/Debug/net9.0-android/lp/152/jl/flat/152.flata
/Notes/obj/Debug/net9.0-android/lp/152/jl
/Notes/obj/Debug/net9.0-android/lp/153/jl
/Notes/obj/Debug/net9.0-android/lp/156/jl
/Notes/obj/Debug/net9.0-android/lp/157/jl/res/values/values.xml
*.cache
/Notes/obj/Debug/net9.0-android/lp/162/jl/res/values/values.xml
*.flata
/Notes/obj/Debug/net9.0-android/acw-map.txt
/Notes/obj/Debug/net9.0-android/adb.props
/Notes/obj/Debug/net9.0-android/AndroidManifest.xml
/Notes/obj/Debug/net9.0-android/android_debug_keystore.flag
/Notes/obj/Debug/net9.0-android/customview-map.txt
/Notes/obj/Debug/net9.0-android/Notes.AssemblyInfo.cs
/Notes/obj/Debug/net9.0-android/Notes.AssemblyInfoInputs.cache
/Notes/obj/Debug/net9.0-android/Notes.csproj.BuildWithSkipAnalyzers
/Notes/obj/Debug/net9.0-android/Notes.csproj.FileListAbsolute.txt
/Notes/obj/Debug/net9.0-android/Notes.csproj.Up2Date
/Notes/obj/Debug/net9.0-android/Notes.dll
/Notes/obj/Debug/net9.0-android/Notes.pdb
/Notes/obj/Debug/net9.0-android/Notes.runtimeconfig.json.bin
/Notes/obj/Debug/net9.0-android/R.cs.flag
/Notes/obj/Debug/net9.0-android/resolvedassemblies.hash
/Notes/obj/Debug/net9.0-android/static.flag
/Notes/obj/Debug/net9.0-android/upload.flag
/Notes/obj/Debug/net9.0-android/XamlC.stamp
/Notes/obj/Debug/net9.0-android/_CompileBindingJava.FileList.txt
/Notes/obj/Debug/net9.0-android/_CompileJava.FileList.txt
/Notes/obj/Debug/net9.0-android/_XamarinBuildIsIncremental
/Notes/obj/Debug/net9.0-android/__environment__.txt
/Notes/obj/Debug/net9.0-ios/ios-arm64
/Notes/obj/Debug/net9.0-ios/iossimulator-x64/actool
/Notes/obj/Debug/net9.0-ios/iossimulator-x64/coremlc
/Notes/obj/Debug/net9.0-ios/iossimulator-x64/ibtool
/Notes/obj/Debug/net9.0-ios/iossimulator-x64/ref
/Notes/obj/Debug/net9.0-ios/iossimulator-x64/refint
/Notes/obj/Debug/net9.0-ios/iossimulator-x64/resizetizer
/Notes/obj/Debug/net9.0-ios/iossimulator-x64/aot-compiler-path-9.0.306.txt
/Notes/obj/Debug/net9.0-ios/iossimulator-x64/mauifont.inputs
/Notes/obj/Debug/net9.0-ios/iossimulator-x64/mauifont.stamp
/Notes/obj/Debug/net9.0-ios/iossimulator-x64/mauiimage.inputs
/Notes/obj/Debug/net9.0-ios/iossimulator-x64/mauiimage.outputs
/Notes/obj/Debug/net9.0-ios/iossimulator-x64/mauiimage.stamp
/Notes/obj/Debug/net9.0-ios/iossimulator-x64/mauisplash.inputs
/Notes/obj/Debug/net9.0-ios/iossimulator-x64/mauisplash.stamp
/Notes/obj/Debug/net9.0-ios/iossimulator-x64/Notes.AssemblyInfo.cs
/Notes/obj/Debug/net9.0-ios/iossimulator-x64/Notes.AssemblyInfoInputs.cache
/Notes/obj/Debug/net9.0-ios/iossimulator-x64/Notes.csproj.BuildWithSkipAnalyzers
/Notes/obj/Debug/net9.0-ios/iossimulator-x64/Notes.csproj.FileListAbsolute.txt
/Notes/obj/Debug/net9.0-ios/iossimulator-x64/Notes.csproj.Up2Date
/Notes/obj/Debug/net9.0-ios/iossimulator-x64/Notes.dll
/Notes/obj/Debug/net9.0-ios/iossimulator-x64/Notes.pdb
/Notes/obj/Debug/net9.0-ios/iossimulator-x64/PublishOutputs.c0c85e2237.txt
/Notes/obj/Debug/net9.0-ios/iossimulator-x64/runtimeconfig.bin
/Notes/obj/Debug/net9.0-ios/iossimulator-x64/XamlC.stamp
/Notes/obj/Debug/net9.0-ios/iossimulator-x64/_XamarinBuildIsIncremental
/Notes/obj/Debug/net9.0-maccatalyst/maccatalyst-x64/actool
/Notes/obj/Debug/net9.0-maccatalyst/maccatalyst-x64/coremlc
/Notes/obj/Debug/net9.0-maccatalyst/maccatalyst-x64/ref
/Notes/obj/Debug/net9.0-maccatalyst/maccatalyst-x64/refint
/Notes/obj/Debug/net9.0-maccatalyst/maccatalyst-x64/resizetizer
/Notes/obj/Debug/net9.0-maccatalyst/maccatalyst-x64/aot-compiler-path-9.0.306.txt
/Notes/obj/Debug/net9.0-maccatalyst/maccatalyst-x64/mauifont.inputs
/Notes/obj/Debug/net9.0-maccatalyst/maccatalyst-x64/mauifont.stamp
/Notes/obj/Debug/net9.0-maccatalyst/maccatalyst-x64/mauiimage.inputs
/Notes/obj/Debug/net9.0-maccatalyst/maccatalyst-x64/mauiimage.outputs
/Notes/obj/Debug/net9.0-maccatalyst/maccatalyst-x64/mauiimage.stamp
/Notes/obj/Debug/net9.0-maccatalyst/maccatalyst-x64/mauisplash.inputs
/Notes/obj/Debug/net9.0-maccatalyst/maccatalyst-x64/mauisplash.stamp
/Notes/obj/Debug/net9.0-maccatalyst/maccatalyst-x64/Notes.AssemblyInfo.cs
/Notes/obj/Debug/net9.0-maccatalyst/maccatalyst-x64/Notes.AssemblyInfoInputs.cache
/Notes/obj/Debug/net9.0-maccatalyst/maccatalyst-x64/Notes.csproj.FileListAbsolute.txt
/Notes/obj/Debug/net9.0-maccatalyst/maccatalyst-x64/Notes.csproj.Up2Date
/Notes/obj/Debug/net9.0-maccatalyst/maccatalyst-x64/Notes.dll
/Notes/obj/Debug/net9.0-maccatalyst/maccatalyst-x64/Notes.pdb
/Notes/obj/Debug/net9.0-maccatalyst/maccatalyst-x64/PublishOutputs.8105d4af0b.txt
/Notes/obj/Debug/net9.0-maccatalyst/maccatalyst-x64/runtimeconfig.bin
/Notes/obj/Debug/net9.0-maccatalyst/maccatalyst-x64/XamlC.stamp
/Notes/obj/Debug/net9.0-maccatalyst/maccatalyst-x64/_XamarinBuildIsIncremental
/Notes/obj/Debug/net9.0-windows10.0.19041.0/win10-x64/Notes.AssemblyInfo.cs
/Notes/obj/Debug/net9.0-windows10.0.19041.0/win10-x64/Notes.AssemblyInfoInputs.cache
/Notes/obj/Debug/net9.0-windows10.0.19041.0/win10-x64/Notes.csproj.BuildWithSkipAnalyzers
/Notes/obj/Debug/net9.0-windows10.0.19041.0/win10-x64/_XamarinBuildIsIncremental
*.props
/Notes/bin/Debug/net9.0-windows10.0.19041.0/win10-x64/Platforms/Windows/App.xbf
/Notes/bin/Debug/net9.0-windows10.0.19041.0/win10-x64/resources.pri
/Notes/obj/Debug/net9.0-android/app_shared_libraries/arm64-v8a/libxamarin-app.so
