################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
.DS_Store
/.vs
/.vscode/extensions.json
/.vscode/extensions.json
bin/Debug/net9.0-android
bin/Debug/net9.0-ios/iossimulator-x64
bin/Debug/net9.0-maccatalyst/maccatalyst-x64
bin/Debug/net9.0-windows10.0.19041.0/win10-x64/MyNotes.dll
bin/Debug/net9.0-windows10.0.19041.0/win10-x64/MyNotes.exe
bin/Debug/net9.0-windows10.0.19041.0/win10-x64/MyNotes.pdb
obj/.cache
obj/Debug/net9.0-android/android
obj/Debug/net9.0-android/android(1)/src
/obj
obj/Debug/net9.0-android/android-arm64
obj/Debug/net9.0-android/android-x64
obj/Debug/net9.0-android/app_shared_libraries/x86_64
obj/Debug/net9.0-android/MyNotes.assets.cache
obj/Debug/net9.0-android/assets
obj/Debug/net9.0-android/diagnostics
*.flat
obj/Debug/net9.0-android/lp/100/jl/flat/100.flata
obj/Debug/net9.0-android/lp/100/jl/files.cache
obj/Debug/net9.0-android/lp/103/jl/flat/103.flata
obj/Debug/net9.0-android/lp/103/jl/files.cache
obj/Debug/net9.0-android/lp/104/jl/flat/104.flata
obj/Debug/net9.0-android/lp/104/jl/files.cache
obj/Debug/net9.0-android/lp/105/jl/flat/105.flata
obj/Debug/net9.0-android/lp/105/jl/files.cache
obj/Debug/net9.0-android/lp/107/jl/flat/107.flata
obj/Debug/net9.0-android/lp/107/jl/files.cache
obj/Debug/net9.0-android/lp/108/jl/flat/108.flata
obj/Debug/net9.0-android/lp/108/jl/files.cache
obj/Debug/net9.0-android/lp/109/jl/flat/109.flata
obj/Debug/net9.0-android/lp/109/jl/files.cache
obj/Debug/net9.0-android/lp/110/jl/flat/110.flata
obj/Debug/net9.0-android/lp/110/jl/files.cache
obj/Debug/net9.0-android/lp/111/jl/flat/111.flata
obj/Debug/net9.0-android/lp/111/jl/files.cache
obj/Debug/net9.0-android/lp/112/jl/flat/112.flata
obj/Debug/net9.0-android/lp/112/jl/files.cache
obj/Debug/net9.0-android/lp/114/jl/flat/114.flata
obj/Debug/net9.0-android/lp/114/jl/files.cache
obj/Debug/net9.0-android/lp/116/jl/flat/116.flata
obj/Debug/net9.0-android/lp/116/jl/files.cache
obj/Debug/net9.0-android/lp/117/jl/flat/117.flata
obj/Debug/net9.0-android/lp/117/jl/files.cache
obj/Debug/net9.0-android/lp/118/jl/flat/118.flata
obj/Debug/net9.0-android/lp/118/jl/files.cache
obj/Debug/net9.0-android/lp/119/jl/flat/119.flata
obj/Debug/net9.0-android/lp/119/jl/files.cache
obj/Debug/net9.0-android/lp/120/jl/flat/120.flata
obj/Debug/net9.0-android/lp/120/jl/files.cache
obj/Debug/net9.0-android/lp/121/jl/flat/121.flata
obj/Debug/net9.0-android/lp/121/jl/files.cache
obj/Debug/net9.0-android/lp/122/jl/flat/122.flata
obj/Debug/net9.0-android/lp/122/jl/files.cache
obj/Debug/net9.0-android/lp/123/jl/flat/123.flata
obj/Debug/net9.0-android/lp/123/jl/files.cache
obj/Debug/net9.0-android/lp/124/jl/flat/124.flata
obj/Debug/net9.0-android/lp/124/jl/files.cache
obj/Debug/net9.0-android/lp/125/jl/flat/125.flata
obj/Debug/net9.0-android/lp/125/jl/files.cache
obj/Debug/net9.0-android/lp/126/jl/flat/126.flata
obj/Debug/net9.0-android/lp/126/jl/files.cache
obj/Debug/net9.0-android/lp/127/jl/flat/127.flata
obj/Debug/net9.0-android/lp/127/jl/files.cache
obj/Debug/net9.0-android/lp/129/jl/flat/129.flata
obj/Debug/net9.0-android/lp/129/jl/files.cache
obj/Debug/net9.0-android/lp/130/jl/flat/130.flata
obj/Debug/net9.0-android/lp/130/jl/files.cache
obj/Debug/net9.0-android/lp/131/jl/flat/131.flata
obj/Debug/net9.0-android/lp/131/jl/files.cache
obj/Debug/net9.0-android/lp/132/jl/flat/132.flata
obj/Debug/net9.0-android/lp/132/jl/files.cache
obj/Debug/net9.0-android/lp/133/jl/flat/133.flata
obj/Debug/net9.0-android/lp/133/jl/files.cache
obj/Debug/net9.0-android/lp/134/jl/flat/134.flata
obj/Debug/net9.0-android/lp/134/jl/files.cache
obj/Debug/net9.0-android/lp/135/jl
obj/Debug/net9.0-android/lp/137/jl
obj/Debug/net9.0-android/lp/138/jl
obj/Debug/net9.0-android/lp/136/jl
obj/Debug/net9.0-android/lp/139/jl
obj/Debug/net9.0-android/lp/140/jl
obj/Debug/net9.0-android/lp/141/jl
obj/Debug/net9.0-android/lp/142/jl
obj/Debug/net9.0-android/lp/144/jl
obj/Debug/net9.0-android/res/values/colors.xml
obj/Debug/net9.0-android/resizetizer
obj/Debug/net9.0-android/stamp
obj/Debug/net9.0-android/lp/145/jl
obj/Debug/net9.0-android/lp/146/jl
obj/Debug/net9.0-android/lp/147/jl
obj/Debug/net9.0-android/lp/148/jl
obj/Debug/net9.0-android/lp/149/jl
obj/Debug/net9.0-android/lp/150/jl
obj/Debug/net9.0-android/lp/151/jl
obj/Debug/net9.0-android/lp/152/jl/flat/152.flata
obj/Debug/net9.0-android/lp/152/jl
obj/Debug/net9.0-android/lp/153/jl
obj/Debug/net9.0-android/lp/156/jl
obj/Debug/net9.0-android/lp/157/jl/res/values/values.xml
*.cache
obj/Debug/net9.0-android/lp/162/jl/res/values/values.xml
*.flata
obj/Debug/net9.0-android/acw-map.txt
obj/Debug/net9.0-android/adb.props
obj/Debug/net9.0-android/AndroidManifest.xml
obj/Debug/net9.0-android/android_debug_keystore.flag
obj/Debug/net9.0-android/customview-map.txt
obj/Debug/net9.0-android/MyNotes.AssemblyInfo.cs
obj/Debug/net9.0-android/MyNotes.AssemblyInfoInputs.cache
obj/Debug/net9.0-android/MyNotes.csproj.BuildWithSkipAnalyzers
obj/Debug/net9.0-android/MyNotes.csproj.FileListAbsolute.txt
obj/Debug/net9.0-android/MyNotes.csproj.Up2Date
obj/Debug/net9.0-android/MyNotes.dll
obj/Debug/net9.0-android/MyNotes.pdb
obj/Debug/net9.0-android/MyNotes.runtimeconfig.json.bin
obj/Debug/net9.0-android/R.cs.flag
obj/Debug/net9.0-android/resolvedassemblies.hash
obj/Debug/net9.0-android/static.flag
obj/Debug/net9.0-android/upload.flag
obj/Debug/net9.0-android/XamlC.stamp
obj/Debug/net9.0-android/_CompileBindingJava.FileList.txt
obj/Debug/net9.0-android/_CompileJava.FileList.txt
obj/Debug/net9.0-android/_XamarinBuildIsIncremental
obj/Debug/net9.0-android/__environment__.txt
obj/Debug/net9.0-ios/ios-arm64
obj/Debug/net9.0-ios/iossimulator-x64/actool
obj/Debug/net9.0-ios/iossimulator-x64/coremlc
obj/Debug/net9.0-ios/iossimulator-x64/ibtool
obj/Debug/net9.0-ios/iossimulator-x64/ref
obj/Debug/net9.0-ios/iossimulator-x64/refint
obj/Debug/net9.0-ios/iossimulator-x64/resizetizer
obj/Debug/net9.0-ios/iossimulator-x64/aot-compiler-path-9.0.306.txt
obj/Debug/net9.0-ios/iossimulator-x64/mauifont.inputs
obj/Debug/net9.0-ios/iossimulator-x64/mauifont.stamp
obj/Debug/net9.0-ios/iossimulator-x64/mauiimage.inputs
obj/Debug/net9.0-ios/iossimulator-x64/mauiimage.outputs
obj/Debug/net9.0-ios/iossimulator-x64/mauiimage.stamp
obj/Debug/net9.0-ios/iossimulator-x64/mauisplash.inputs
obj/Debug/net9.0-ios/iossimulator-x64/mauisplash.stamp
obj/Debug/net9.0-ios/iossimulator-x64/MyNotes.AssemblyInfo.cs
obj/Debug/net9.0-ios/iossimulator-x64/MyNotes.AssemblyInfoInputs.cache
obj/Debug/net9.0-ios/iossimulator-x64/MyNotes.csproj.BuildWithSkipAnalyzers
obj/Debug/net9.0-ios/iossimulator-x64/MyNotes.csproj.FileListAbsolute.txt
obj/Debug/net9.0-ios/iossimulator-x64/MyNotes.csproj.Up2Date
obj/Debug/net9.0-ios/iossimulator-x64/MyNotes.dll
obj/Debug/net9.0-ios/iossimulator-x64/MyNotes.pdb
obj/Debug/net9.0-ios/iossimulator-x64/PublishOutputs.c0c85e2237.txt
obj/Debug/net9.0-ios/iossimulator-x64/runtimeconfig.bin
obj/Debug/net9.0-ios/iossimulator-x64/XamlC.stamp
obj/Debug/net9.0-ios/iossimulator-x64/_XamarinBuildIsIncremental
obj/Debug/net9.0-maccatalyst/maccatalyst-x64/actool
obj/Debug/net9.0-maccatalyst/maccatalyst-x64/coremlc
obj/Debug/net9.0-maccatalyst/maccatalyst-x64/ref
obj/Debug/net9.0-maccatalyst/maccatalyst-x64/refint
obj/Debug/net9.0-maccatalyst/maccatalyst-x64/resizetizer
obj/Debug/net9.0-maccatalyst/maccatalyst-x64/aot-compiler-path-9.0.306.txt
obj/Debug/net9.0-maccatalyst/maccatalyst-x64/mauifont.inputs
obj/Debug/net9.0-maccatalyst/maccatalyst-x64/mauifont.stamp
obj/Debug/net9.0-maccatalyst/maccatalyst-x64/mauiimage.inputs
obj/Debug/net9.0-maccatalyst/maccatalyst-x64/mauiimage.outputs
obj/Debug/net9.0-maccatalyst/maccatalyst-x64/mauiimage.stamp
obj/Debug/net9.0-maccatalyst/maccatalyst-x64/mauisplash.inputs
obj/Debug/net9.0-maccatalyst/maccatalyst-x64/mauisplash.stamp
obj/Debug/net9.0-maccatalyst/maccatalyst-x64/MyNotes.AssemblyInfo.cs
obj/Debug/net9.0-maccatalyst/maccatalyst-x64/MyNotes.AssemblyInfoInputs.cache
obj/Debug/net9.0-maccatalyst/maccatalyst-x64/MyNotes.csproj.FileListAbsolute.txt
obj/Debug/net9.0-maccatalyst/maccatalyst-x64/MyNotes.csproj.Up2Date
obj/Debug/net9.0-maccatalyst/maccatalyst-x64/MyNotes.dll
obj/Debug/net9.0-maccatalyst/maccatalyst-x64/MyNotes.pdb
obj/Debug/net9.0-maccatalyst/maccatalyst-x64/PublishOutputs.8105d4af0b.txt
obj/Debug/net9.0-maccatalyst/maccatalyst-x64/runtimeconfig.bin
obj/Debug/net9.0-maccatalyst/maccatalyst-x64/XamlC.stamp
obj/Debug/net9.0-maccatalyst/maccatalyst-x64/_XamarinBuildIsIncremental
obj/Debug/net9.0-windows10.0.19041.0/win10-x64/MyNotes.AssemblyInfo.cs
obj/Debug/net9.0-windows10.0.19041.0/win10-x64/MyNotes.AssemblyInfoInputs.cache
obj/Debug/net9.0-windows10.0.19041.0/win10-x64/MyNotes.csproj.BuildWithSkipAnalyzers
obj/Debug/net9.0-windows10.0.19041.0/win10-x64/_XamarinBuildIsIncremental
*.props
.DS_Store
*/.DS_Store
